

.card-container {
    margin-top: 3rem;
	width: 800px;
	height: 480px;

    display: flex;
  	background-color: white;
	border-radius: 20px;
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	
	  
	
  
}

.gradient {
	position: relative;
	width: 45%;
	height: 100%;
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 233, 161) 0%,
		rgb(255, 97, 158) 100%
	);
}

.denis-img {
	position: absolute;
	left: -35px;
	bottom: -5px;
	width: 430px;

	-webkit-animation: rotate-scale-down-ver 0.65s linear both;
	animation: rotate-scale-down-ver 0.65s linear both;
	@-webkit-keyframes rotate-scale-down-ver {
		0% {
		  -webkit-transform: scale(1) rotateY(0);
				  transform: scale(1) rotateY(0);
		}
		50% {
		  -webkit-transform: scale(0.5) rotateY(180deg);
				  transform: scale(0.5) rotateY(180deg);
		}
		100% {
		  -webkit-transform: scale(1) rotateY(360deg);
				  transform: scale(1) rotateY(360deg);
		}
	  }
	  @keyframes rotate-scale-down-ver {
		0% {
		  -webkit-transform: scale(1) rotateY(0);
				  transform: scale(1) rotateY(0);
		}
		50% {
		  -webkit-transform: scale(0.5) rotateY(180deg);
				  transform: scale(0.5) rotateY(180deg);
		}
		100% {
		  -webkit-transform: scale(1) rotateY(360deg);
				  transform: scale(1) rotateY(360deg);
		}
	  }

    
}

.information {
	width: 55%;
	height: 100%;
	padding-left: 100px;
	
	display: flex;
	flex-direction: column;
}

.full-name {
	font-size: 34px;
	margin-bottom: 2px;
}

.title {
	font-size: 15px;
    margin-top: 35px;
    
}

.label {
	font-size: 15px;
	opacity: 0.8;
	margin-top: 35px;
	margin-bottom: 3px;
    
}

.text {
	font-size: 18px;
}

.skill {
	width: 230px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.skill:not(:last-of-type) {
	margin-bottom: 7px;
}

.skill-name {
	font-size: 14px;
}

.skill-level {
	position: relative;
	width: 120px;
	height: 10px;
}

.level-fill {
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	height: 100%;
	border-radius: 100px;
	z-index: 2;
}
.level-fill.level-javascript {
	width: 75%;
	background-color: #6BFF6B;
	
}
.level-fill.level-react {
	width: 65%;
	background-color: #FFA56B;
}
.level-fill.level-htmlcss {
	width: 100%;
	background-color: #6b81ff;
}
.level-fill.level-photoshop {
	width: 85%;
	background-color: #ff7c6b;
}

.level-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 2.5px);
	height: calc(100% + 2.5px);
	border: 1px solid #262626;
	border-radius: 100px;
	z-index: 1;
}

@media only screen and (max-width: 600px) {
	.card-container  {
	  	  width: 500px;
	}

	.gradient{
		position: relative;
		width: 150px;
		height: auto;

	}
	.denis-img{
		width: auto;
		height: 200px;
	}
	.full-name {
		font-size: 20px;
		line-height: 1;
		margin-top: 5px;
	
	}
	
	.title {
		font-size: 20px;
		line-height: 1;
			}
	
	.label {
		font-size: 20px;
		opacity: 0.8;
		line-height: 1;
	}
	
	.text {
		font-size: 18px;
		line-height: 1;
	}
	
	.skill {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.skill:not(:last-of-type) {
		margin-bottom: 7px;
	}
	
	.skill-name {
		font-size: 14px;
	}
	
	.skill-level {
		position: relative;
		width: 120px;
		height: 10px;
	}

  }